<div class="l-constrained">
  <div class="l-contact-panels t-contact-panels">

    <div class="l-contact-panel">
      <div class="contact-panel contact-panel__chat-<%= chat_opening_hours.status %> t-chat" id="js-chat">
        <%= heading_tag level: 2, class: 'contact-panel__heading' do %>
          <span class="icon icon--chat"></span><%= t('contact_panels.web_chat.title') %>
        <% end %>

        <p class="contact-panel__chat-javascript t-chat-javascript">
          <%= t('contact_panels.web_chat.javascript.description_html') %>
        </p>

        <div class="contact-panel__dynamic-content is-loading" id="js-chat-content">
          <div class="contact-panel__preloader"></div>

          <p class="contact-panel__chat-description t-chat-description" id="js-chat-description">
            <%= chat_opening_hours.description %>
            <%= '*' if translation?('contact_panels.web_chat.smallprint') %>
          </p>

          <div id="js-chat-cta">
            <div class="contact-panel__button button is-disabled t-chat-button">
              <%= chat_opening_hours.button_label %>
            </div>
          </div>
        </div>

        <%= t('contact_panels.web_chat.opening_times_html') %>

        <% if translation?('contact_panels.web_chat.smallprint') %>
          <p class="smallprint t-welsh-warning">* <%= t('contact_panels.web_chat.smallprint') %></p>
        <% end %>
      </div>
    </div>

    <div class="contact-panel__border"></div>

    <div class="l-contact-panel">
      <div class="contact-panel">
        <%= heading_tag level: 2, class: 'contact-panel__heading t-contact-heading' do %>
          <span class="icon icon--call-us"></span><%= t('contact_panels.call_us.title') %>
        <% end %>

        <p class="t-contact-introduction"><%= t('contact_panels.call_us.description') %></p>

        <p>
          <a class="contact-panel__telephone t-contact-number" href="<%= t('contact.telephone_number_href') %>">
            <%= t('contact.telephone_number') %> *</a>
        </p>

        <%= t('contact_panels.call_us.opening_times_html') %>

        <p class="smallprint">* <%= t('contact_panels.call_us.smallprint') %></p>
      </div>
    </div>

    <div class="contact-panel__border"></div>

    <div class="l-contact-panel">
      <div class="contact-panel t-footer-social-links">
        <%= heading_tag level: 2, class: 'contact-panel__heading' do %>
          <span class="icon icon--sharing"></span><%= t('contact_panels.sharing.title') %>
        <% end %>

        <p><%= t('contact_panels.sharing.description') %></p>

        <a class="button contact-panel__button contact-panel__button--sharing t-twitter-link" lang="en" href="https://twitter.com/YourMoneyAdvice">
          <span class="icon icon--twitter"></span>
          <span class="visually-hidden">Twitter</span>
        </a>

        <a class="button contact-panel__button contact-panel__button--sharing t-facebook-link" lang="en" href="https://www.facebook.com/MoneyAdviceService?ref=mas">
          <span class="icon icon--facebook"></span>
          <span class="visually-hidden">Facebook</span>
        </a>

        <a class="button contact-panel__button contact-panel__button--sharing t-youtube-link" lang="en" href="https://www.youtube.com/user/MoneyAdviceService">
          <span class="icon icon--youtube"></span>
          <span class="visually-hidden">YouTube</span>
        </a>

        <p class="contact-panel__additional-info"><%= t('contact_panels.sharing.more_info_html') %></p>
      </div>
    </div>

  </div>
</div>

<%= content_for :javascripts do %>
  <script type='text/javascript' src='https://webchat.moneyadviceservice.org.uk/include.js?domain=<%= ENV['WEBCHAT_DOMAIN'] %>'></script>
  <script type='text/javascript'>
    sWOProtocol = 'https:';
    <%= 'sWOResponse = "";'.html_safe unless chat_opening_hours.now_open? %>

    sWOImageLoaded = function() {

      var chatCTA = document.getElementById('js-chat-cta'),
          chatDescription = document.getElementById('js-chat-description'),
          chatContent = document.getElementById('js-chat-content');

      if (sWOImage.width == 1) {

        var sWOChatElement = document.createElement('div');
        var sWOChatElementText = document.createTextNode("<%= t('contact_panels.web_chat.busy.button') %>");

        sWOChatElement.className = "contact-panel__button button is-disabled";
        sWOChatElement.appendChild(sWOChatElementText);

        chatCTA.innerHTML = "";
        chatCTA.appendChild(sWOChatElement);
        chatDescription.innerHTML = "<%= t('contact_panels.web_chat.busy.description') %>";
        chatContent.className = "contact-panel__dynamic-content is-loaded";

      } else {

        var sWOChatElement = document.createElement('a');
        var sWOChatElementText = document.createTextNode("<%= t('contact_panels.web_chat.available.button') %>");
        sWOChatElement.className = "contact-panel__button button";
        sWOChatElement.appendChild(sWOChatElementText);

        chatCTA.innerHTML = "";
        chatCTA.appendChild(sWOChatElement);
        chatDescription.innerHTML = "<%= t('contact_panels.web_chat.available.description') %>";
        chatContent.className = "contact-panel__dynamic-content is-loaded";

        sWOChatElement.onclick = function() {
          window.open(sWOChatElement.href, "Chat", "width=484,height=361,scrollbars=yes,resizable=yes");
          return false;
        };

        sWOChatElement.href = sWOChatstart;
        sWOChatElement.target = "_blank";

      }

    };

    if (typeof sWOTrackPage == 'function') {
      sWOTrackPage();
    }
    var t = setTimeout("sWOInvite='';sWOResponse='N';sWOPage=(sWOPage || '')+'%3Ftimer%3Dtrue';sWOTrackPage();", 30000); // Pro-active engage chat timer in ms

  </script>
<% end %>
