<header class="l-header" role="banner">
  <div class="l-constrained">

    <div class="l-header__logo">
      <%= link_to main_app.root_path, class: 'l-header__link' do %>
        <div class="mas-logo mas-logo--img"></div>
        <%= render '../assets/images/logo.svg' %>
      <% end %>
    </div>

    <%= render 'shared/mobile_nav' %>
    <%= render 'shared/authentication' %>

    <% if display_search_box_in_header? %>
    <div class="l-search" id="search-bar">
      <%= render 'shared/search', search_in_page_header: true %>
    </div>
    <% end %>
  </div>
</header>
