<div class="l-constrained">
  <section class="l-tool-panels">
    <%= heading_tag('Popular tools and calculators', level: 2, class: 'l-tool-panels__heading') %>

    <% items.each do |item| %>
    <div class="l-tool-panel">
      <div>
        <%= heading_tag(level: 3, class: 'l-tool-panel__heading') do %>
          <%= link_to item[:url] do %>
            <span class="icon <%= item[:icon] %>"></span>
            <%= item[:heading] %>
          <% end %>
        <% end %>

        <p><%= item[:text] %></p>
      </div>
    </div>
    <% end %>

    <div class="l-tool-panel__view-all">
      <%= link_to('en/src') do %>
        View all...<span class="visually-hidden"> of our popular tools and calculators</span>
      <% end %>
    </div>
  </section>

  <hr class="hr hr--inset">
</div>
