<div class="l-car-campaign-page-bg"></div>

<div class="l-car-campaign editorial">
  <div class="l-car-campaign__banner"></div>

  <div class="l-car-campaign__section l-car-campaign__section--intro">
    <div class="l-car-campaign__section-text">
      <header>
        <%= heading_tag car_campaign.title %>
        <p class="intro"><%= car_campaign.intro_html %></p>
      </header>
    </div>

    <%= car_campaign.call_to_action %>

  </div>

  <div class="l-car-campaign__section l-car-campaign__section--buy">
    <div class="l-car-campaign__section-row">
      <%= heading_tag car_campaign.title('how_buy'), level: 2, class: 'l-car-campaign__section-heading' %>

      <div class="l-car-campaign__section-text">
        <p><%= car_campaign.intro('how_buy') %></p>
      </div>

      <div class="l-car-campaign__section-media"></div>

      <div class="l-car-campaign__section-text">
        <ul class="unstyled-list">
          <% car_campaign.articles('how_buy').each do |article| %>
            <li>
              <%= link_to article[:text], article_path(article[:id]) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="l-car-campaign__section-separator"></div>

  <div class="l-car-campaign__section l-car-campaign__section--run">
    <div class="l-car-campaign__section-row">
      <div class="l-car-campaign__section-text">
        <%= heading_tag car_campaign.title('running'), level: 2 %>
        <p><%= car_campaign.intro('running') %></p>
      </div>

      <div class="l-car-campaign__section-media"></div>

      <div class="l-car-campaign__section-text">
        <ul class="unstyled-list">
          <%  car_campaign.articles('running').each do |article| %>
            <li>
              <%= link_to article[:text], article_path(article[:id]) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="l-car-campaign__section l-car-campaign__section--sell">
    <div class="l-car-campaign__section-row">
      <div class="l-car-campaign__section-text">
        <%= heading_tag  car_campaign.title('sell'), level: 2 %>
        <p><%= car_campaign.intro('sell') %></p>
      </div>

      <div class="l-car-campaign__section-media"></div>

      <div class="l-car-campaign__section-text">
        <ul class="unstyled-list">
          <%  car_campaign.articles('sell').each do |article| %>
            <li>
              <%= link_to article[:text], article_path(article[:id]) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
